:root{
  --text-shadow1:#ffffff;
  --transparent: hsla(0, 0%, 0%, 0.000); /* theme variable never called */
  --text-1: hsla(0, 0%, 0%, 1.000); /* only used in DateTimeBlock symbol : */
  --white-1: hsla(0, 0%, 100%, 1.000); /* bg in light - text in dark */
  --text-2: hsla(0, 0%, 17.6%, 1.000);
  --icon-mono: hsla(0, 0%, 25.1%, 1.000);
  --text-3: hsla(0, 0%, 34.1%, 0.749);
  --text-4 : hsla(0, 0%, 34.5%, 0.647);
  --text-5: hsla(0, 0%, 34.5%, 0.847);
  --text-6:hsla(0, 0%, 34.5%, 0.851);
  --text-7: hsla(0, 0%, 34.5%, 0.902);
  --text-8: hsla(0, 0%, 34.5%, 1.000);
  --text-9: hsla(0, 0%, 34.9%, 1.000);
  --text-10: hsla(0, 0%, 46.3%, 0.502);
  --text-11: hsla(0, 0%, 46.3%, 0.647);
  --text-12: hsla(0, 0%, 46.3%, 0.651);
  --text-13: hsla(0, 0%, 46.3%, 1.000);
  --text-14: hsla(0, 0%, 50.2%, 1.000);
  --text-15: hsla(0, 0%, 55.3%, 1.000);
  --text-16: hsla(0, 0%, 56.1%, 1.000);
  --icon-dimmed: hsla(0, 0%, 65.1%, 1.000); /* both Dark and light theme show same value */
  --text-17: hsla(0, 0%, 65.5%, 1.000);
  --border-1: hsla(0, 0%, 75.7%, 1.000);
  --border-2: hsla(0, 0%, 76.9%, 0.329);
  --icon-subtle: hsla(0, 0%, 85.1%, 1.000);
  --border-3: hsla(0, 0%, 89.4%, 1.000);
  --border-4: hsla(0, 0%, 90.6%, 1.000);
  --status-neutral: hsla(0, 0%, 91.8%, 1.000);
  --border-5: hsla(0, 0%, 93.3%, 1.000);
  --btn-loading-transition: hsla(0, 0%, 94.9%, 0.302);
  --btn-secondary-disabled: hsla(0, 0%, 97.3%, 1.000);
  --check-disabled-bg: hsla(0, 0%, 98.8%, 1.000);
  --footer-bg: hsla(0, 0%, 99.6%, 0.851);
  --main-menu-bg: hsla(0, 0%, 99.6%, 1.000);
  --lineui-danger-stop-end: hsla(0, 100%, 15%, 0%);
  --lineui-danger-stop-start: hsla(0, 100%, 15%, 35%);
  --box-shadow-1: hsla(0, 100%, 50%, 0.102);
  --icon-danger: hsla(0, 100%, 70%, 1.000);
  --lineui-handle-ring-layer: hsla(0, 100%, 89%, 100%);
  --modal-border: hsla(0, 14.3%, 90.4%, 1.000);
  --lineui-danger-grab-handle: hsla(0, 45%, 100%, 100%);
  --lineui-danger-point: hsla(0, 45%, 90%, 100%);
  --lineui-highlight: hsla(0, 45%, 90%, 90%);
  --switch-danger-default-border: hsla(0, 51.2%, 60.6%, 1.000);
  --btn-danger-area: hsla(0, 54%, 60.8%, 1.000);
  --switch-danger-loading-border: hsla(0, 54.2%, 67.5%, 1.000);
  --switch-danger-disabled-bg:hsla(0, 57%, 81.8%, 1.000);
  --switch-danger-loading-grad: hsla(0, 57.9%, 73.9%, 1.000);
  --switch-failure-loading-bg: hsla(0, 60.6%, 73.1%, 1.000);
  --switch-danger-loading-border: hsla(0, 62%, 73.1%, 1.000);
  --btn-danger-divider: hsla(0, 62.1%, 61.8%, 1.000);
  --status-danger: hsla(0, 66.5%, 61.4%, 1.000);
  --form-failure-text: hsla(0, 68%, 66.9%, 1.000);
  --switch-danger-default-bg: hsla(0, 68%, 66.9%, 1.000);
  --switch-failure-default-bg:hsla(0, 69.1%, 65.7%, 1.000);
  --btn-danger-grad-1: hsla(0, 71.4%, 67.1%, 1.000);
  --switch-danger-disabled-border: hsla(0, 78.7%, 85.3%, 1.000);
  --spinner-danger-border:hsla(0, 78.8%, 70.4%, 1.000);
  --switch-danger-loading-bg:  hsla(0, 79.5%, 77.1%, 1.000);
  --lineui-danger-grab-text: hsla(0, 80%, 25%, 100%);
  --lineui-danger-contrast-line: hsla(0, 80%, 45%, 100%);
  --btn-danger-hover-bg: hsla(0, 88.4%, 66.3%, 1.000);
  --lineui-danger-handle-contrast: hsla(0deg, 100%, 36%, 15%);
  --lineui-danger-handle-ring: hsla(0deg, 100%, 36%, 27%);
  --lineui-secondary-handle-fill: hsla(108deg, 100%, 45%, 100%);
  --border-6: hsla(120, 1.3%, 85.3%, 1.000);
  --form-valid-border: hsla(120, 35.2%, 71.6%, 1.000);
  --input-valid-box-shadow: hsla(120, 76.6%, 15.1%, 0.071);
  --lineui-secondary-stop-end: hsla(120deg, 100%, 15%, 0%);
  --lineui-secondary-stop-start: hsla(120deg, 100%, 15%, 35%);
  --lineui-secondary-contrast-layer: hsla(120deg, 100%, 36%, 15%);
  --lineui-secondary-handle-ring: hsla(120deg, 100%, 36%, 27%);
  --lineui-secondary-handle-layer: hsla(120deg, 100%, 89%, 100%);
  --lineui-secondary-grab-stroke: hsla(120deg, 45%, 100%, 100%);
  --lineui-secondary-grab-fill: hsla(120deg, 45%, 90%, 100%);
  --lineui-secondary-highlight: hsla(120deg, 45%, 90%, 90%);
  --lineui-secondary-grab-text: hsla(120deg, 80%, 25%, 100%);
  --lineui-secondary-handle-contrast: hsla(120deg, 80%, 45%, 100%);
  --status-good: hsla(126, 48.1%, 68.2%, 1.000);
  --feedback-success: hsla(136, 49.5%, 57.3%, 1.000);
  --lineui-secondary-handle-base: hsla(150deg, 100%, 80%, 100%);
  --switch-on-disabled-grad:hsla(19, 100%, 84.9%, 1.000);
  --switch-danger-disabled-grad: hsla(192deg, 100%, 45%, 100%);
  --table-column-data-text:: hsla(194, 10.2%, 52%, 1.000);
  --form-processing-box-shadow: hsla(195, 67.8%, 35.3%, 0.071);
  --input-primary: hsla(195, 79.5%, 71.4%, 1.000);
  --switch-on-loading-grad: hsla(195, 83.2%, 67.3%, 0.655);
  --switch-on-default-grad: hsla(195, 83.2%, 67.3%, 1.000);
  --switch-off-default-inner-grad: hsla(195, 83.5%, 54.7%, 1.000);
  --switch-default-grad: hsla(195, 84.3%, 67.5%, 1.000);
  --form-separated-values-hover: hsla(195, 85.4%, 73.1%, 1.000);
  --spinner-primary-base-border: hsla(195, 89.4%, 81.6%, 1.000);
  --table-column-data-text-2: hsla(195, 9.8%, 51.8%, 0.722);
  --checkbox-unchecked-hover-border: hsla(195, 94.2%, 66.1%, 1.000);
  --checkbox-checked-hover-bg: hsla(195, 95.3%, 66.5%, 1.000);
  --content-hyperlink-hover: hsla(195, 98.3%, 45.1%, 1.000);
  --table-high-importance-text: hsla(196, 9.7%, 55.7%, 1.000);
  --switch-danger-default-grad:hsla(20, 81.2%, 64.5%, 1.000);
  --switch-danger-loading-grad-2: hsla(20, 96%, 80.4%, 1.000);
  --modal-content-text: hsla(200, 1.2%, 49.2%, 1.000);
  --filter-btn-bg: hsla(200, 23.1%, 97.5%, 1.000);
  --tag-text: hsla(200, 3%, 38.8%, 1.000);
  --btn-primary-bg: hsla(200, 77.5%, 68.6%, 1.000);
  --menu-default: hsla(200, 77.8%, 77.1%, 0.000);
  --menu-hover: hsla(200, 77.8%, 77.1%, 1.000);
  --modal-bg:  hsla(202, 33.3%, 95.3%, 0.510);
  --filter-text: hsla(202, 6.2%, 74.5%, 1.000);
  --btn-primary-divider: hsla(202, 70.4%, 62.9%, 1.000);
  --switch-off-default-outer-grad: hsla(203, 41.9%, 93.9%, 1.000);
  --btn-secondary-divider: hsla(204, 18.2%, 78.4%, 0.302);
  --table-header-text: hsla(204, 2.4%, 59%, 1.000);
  --filter-box-shadow-1: hsla(204, 21.9%, 66.9%, 0.071);
  --switch-on-disabled-grad-2: hsla(204, 45.5%, 84.9%, 1.000);
  --switch-on-loading-bg:  hsla(204, 68.3%, 72.7%, 0.647);
  --switch-on-default-bg: hsla(204, 78.4%, 72.7%, 1.000);
  --icons-primary: hsla(205, 100%, 65.1%, 1.000);
  --filter-border-1: hsla(205, 100%, 72%, 1.000);
  --filter-btn-hover-bg: hsla(205, 100%, 78.6%, 1.000);
  --global-box-shadow: hsla(205, 16%, 76.7%, 0.102);
  --feedback-neutral: hsla(205, 22.1%, 66.3%, 1.000);
  --input-box-shadow: hsla(205, 34.6%, 68.2%, 0.071);
  --modal-box-shadow: hsla(205, 42.2%, 60%, 0.149);
  --checkbox-checked-box-shadow: hsla(205, 50.3%, 30%, 0.051);
  --form-border: hsla(205, 58.9%, 71.4%, 1.000);
  --form-tip-text: hsla(205, 59.7%, 71.8%, 1.000);
  --switch-on-disabled-bg: hsla(205, 61.9%, 87.6%, 1.000);
  --content-hyperlink-text: hsla(205, 62.3%, 55.3%, 1.000);
  --switch-on-loading-border: hsla(205, 66.5%, 61.4%, 0.651);
  --switch-on-default-border: hsla(205, 66.5%, 61.4%, 1.000);
  --feedback-info: hsla(205, 77.4%, 63.5%, 1.000);
  --switch-off-default-inner-bg: hsla(205, 82.4%, 64.3%, 1.000);
  --switch-indeterminate-default-bg: hsla(205, 89.5%, 77.6%, 1.000);
  --switch-on-disabled-border: hsla(205, 89.5%, 85.1%, 1.000);
  --lineui-primary-stop-end: hsla(205deg, 100%, 15%, 0%);
  --lineui-primary-stop-start: hsla(205deg, 100%, 15%, 35%);
  --lineui-handle-contrast-layer: hsla(205deg, 100%, 36%, 15%);
  --lineui-primary-handle-ring: hsla(205deg, 100%, 36%, 27%);
  --lineui-primary-ring-layer: hsla(205deg, 100%, 89%, 100%);
  --lineui-primary-grab-handle: hsla(205deg, 45%, 100%, 100%);
  --lineui-primary-grab-handle: hsla(205deg, 45%, 90%, 100%);
  --lineui-primary-highlight: hsla(205deg, 45%, 90%, 90%);
  --lineui-label: hsla(205deg, 80%, 25%, 100%);
  --lineui-primary-contrast: hsla(205deg, 80%, 45%, 100%);
  --form-disabled-bg: hsla(206, 36.8%, 96.3%, 1.000);
  --btn-secondary-default-bg: hsla(206, 42.1%, 92.5%, 1.000);
  --datepicker-other-month-text: hsla(206, 6.3%, 49.4%, 0.502);
  --filter-border-2: hsla(207, 15.9%, 86.5%, 1.000);
  --btn-secondary-active: hsla(207, 29.7%, 82.2%, 1.000);
  --select-hover-text: hsla(207, 41.2%, 53.3%, 1.000);
  --btn-secondary-hover-bg: hsla(207, 42.9%, 91.8%, 1.000);
  --text-18: hsla(207, 5%, 56.7%, 1.000);
  --input-box-shadow-2: hsla(207, 65.8%, 31%, 0.078);
  --menu-passive: hsla(215, 100%, 75.1%, 0.149);
  --menu-active: hsla(215, 100%, 75.1%, 1.000);
  --input-box-shadow-3: hsla(207, 67.8%, 35.3%, 0.071);
  --btn-primary-grad: hsla(207, 80.2%, 64.3%, 1.000);
  --btn-primary-hover-bg: hsla(207, 88.2%, 60%, 1.000);
  --meta-text: hsla(207, 94.2%, 66.1%, 1.000);
  --highlight: hsla(207, 95.3%, 66.5%, 1.000);
  --switch-border: hsla(208, 22.7%, 85.3%, 0.651);
  --switch-border-2:hsla(208, 24.6%, 77.6%, 0.651);
  --checkbox-unchecked-default-border: hsla(208, 24.6%, 77.6%, 1.000);
  --input-border: hsla(208, 50%, 81.2%, 1.000);
  --text-19: hsla(208, 7.7%, 38.2%, 1.000);
  --table-groupname-text: hsla(210, 2.4%, 51%, 0.651);
  --checkbox-border: hsla(210, 20%, 90.2%, 1.000);
  --global-grad: hsla(210, 20%, 96.1%, 1.000);
  --tables-loading-bg: hsla(210, 20%, 98%, 0.851);
  --global-bg: hsla(210, 20%, 98%, 1.000);
  --switch-off-bg: hsla(210, 30%, 96.1%, 1.000);
  --modal-title-text: hsla(210, 5.8%, 47.5%, 1.000);
  --filter-box-shadow-2: hsla(210, 66.9%, 46.3%, 0.122);
  --text-20: hsla(214, 14.4%, 46.3%, 1.000);
  --datepicker-focus-text: hsla(215, 23.5%, 64.1%, 1.000);
  --table-header-sortable-default: hsla(220, 33.3%, 94.7%, 0.000);
  --table-header-sortable-hover:hsla(220, 33.3%, 94.7%, 1.000);
  --lineui-primary-handle-base: hsla(235deg, 100%, 80%, 100%);
  --menu-indicator: hsla(240, 1.2%, 84.1%, 0.502);
  --menu-feedback-warning: hsla(30, 91%, 61%, 1.000);
  --lineui-danger-handle-base: hsla(30deg, 100%, 80%, 100%);
  --lineui-danger-handle-fill: hsla(348deg, 100%, 45%, 100%);
  --status-caution: hsla(57, 57.7%, 62.9%, 1.000);
}