:root {
  --background-back: #1f1f1f;
  --background-mid: #2f2f2f;
  --background-closest: #444;
  --primary-main: #d9b041;
  --primary-dim: rgba(217, 176, 65, 0.25);

  /* Light Mode */
  --white-a12: #FFFFFFEB;
  --white-a11: #FFFFFF96;
  --white-a10: #FFFFFF71;
  --white-a9: #FFFFFF62;
  --white-a8: #FFFFFF3F;
  --white-a7: #FFFFFF2C;
  --white-a6: #FFFFFF1F;
  --white-a5: #FFFFFF15;
  --white-a4: #FFFFFF0E;
  --white-a2: #FFFFFF03;
  --white-a1: #00000000;
  --white-12: #FFFFFFEB;
  --black-a11: #00000090;
  --black-a10: #00000079;
  --black-a9: #0000006F;
  --black-a8: #00000038;
  --black-a7: #00000023;
  --black-a6: #0000001D;
  --black-a5: #00000016;
  --black-a4: #00000012;
  --black-a3: #0000000B;
  --black-a2: #00000006;
  --black-a1: #00000003;
  --black-12: #000000E8;
  --black-11: #00000090;
  --black-10: #00000079;
  --black-9: #0000006F;
  --black-8: #00000038;
  --black-7: #00000023;
  --black-6: #0000001D;
  --info-a12: #00221DEF;
  --info-a11: #00776BF9;
  --info-a10: #009281F1;
  --info-a9: #009E8CED;
  --info-a8: #009783AC;
  --info-a7: #01927A72;
  --info-a6: #00998050;
  --info-a5: #00A48938;
  --info-a4: #02AF8C26;
  --info-a3: #02C09718;
  --info-a2: #01C8A40E;
  --info-a1: #05CD9B05;
  --info-12: #10302B;
  --info-11: #067A6F;
  --info-10: #0E9888;
  --info-9: #12A594;
  --info-8: #53B9AB;
  --info-7: #8DCEC3;
  --info-6: #AFDFD7;
  --info-5: #C7EBE5;
  --info-4: #D9F3EE;
  --info-3: #E7F9F5;
  --info-2: #F1FCFA;
  --info-1: #FAFEFD;
  --warning-a12: #380E00EE;
  --warning-a11: #BC4800F9;
  --warning-a10: #ED5B00F9;
  --warning-a9: #F76300F7;
  --warning-a8: #F86300B1;
  --warning-a7: #FF66017E;
  --warning-a6: #FF6B0158;
  --warning-a5: #FF6B013C;
  --warning-a4: #FF6E0028;
  --warning-a3: #FF6C0318;
  --warning-a2: #E860050B;
  --warning-a1: #C0430504;
  --warning-12: #451E11;
  --warning-11: #BD4B00;
  --warning-10: #ED5F00;
  --warning-9: #F76808;
  --warning-8: #FA934E;
  --warning-7: #FFB381;
  --warning-6: #FFCCA7;
  --warning-5: #FFDCC3;
  --warning-4: #FFE8D7;
  --warning-3: #FFF1E7;
  --warning-2: #FEF8F4;
  --error-a2: #FF260508;
  --error-a1: #FF050503;
  --error-12: #341711;
  --error-a6: #EC230041;
  --error-11: #CA3214;
  --error-10: #DB4324;
  --error-9: #E54D2E;
  --error-8: #EA9280;
  --error-7: #F3B0A2;
  --error-6: #FAC7BE;
  --error-5: #FDD8D3;
  --error-4: #FFE6E2;
  --error-3: #FFF0EE;
  --error-2: #FFF8F7;
  --error-1: #FFFCFC;
  --success-a12: #002012EA;
  --success-a11: #006B3BE7;
  --success-a10: #008346D6;
  --success-a9: #008F4ACF;
  --success-a8: #00934CA4;
  --black-4: #00000012;
  --success-a7: #008C3D6D;
  --warning-1: #FEFCFB;
  --success-a6: #0193364B;
  --error-a12: #260600EE;
  --success-a5: #009B3633;
  --error-a11: #C62100EB;
  --success-a4: #01A63522;
  --success-a3: #02BA3C16;
  --error-a9: #DF2500D1;
  --success-a2: #00C43B0D;
  --error-a8: #D524017F;
  --success-a1: #05C04304;
  --error-a7: #DE25005D;
  --success-12: #153226;
  --success-11: #18794E;
  --error-a5: #F41D012C;
  --success-10: #299764;
  --error-a4: #FF22011D;
  --success-9: #30A46C;
  --error-a3: #FF1F0111;
  --success-8: #5BB98C;
  --error-a10: #D52400DB;
  --success-7: #92CEAC;
  --primary-5: #C4EAEF;
  --grey-12: #11181C;
  --primary-4: #D8F3F6;
  --grey-11: #687076;
  --grey-10: #7E868C;
  --primary-2: #F2FCFD;
  --grey-9: #889096;
  --grey-6: #DFE3E6;
  --grey-5: #E6E8EB;
  --primary-a7: #0097B27B;
  --grey-2: #F8F9FA;
  --grey-1: #FBFCFD;
  --primary-a12: #002D38F9;
  --success-5: #CCEBD7;
  --white-3: #FFFFFF08;
  --primary-a10: #0090B0F7;
  --white-1: #00000000;
  --primary-a4: #00B1C427;
  --grey-a11: #000E1897;
  --success-4: #DDF3E4;
  --primary-a9: #00A1C1F9;
  --success-3: #E9F9EE;
  --primary-a8: #00A3C0C2;
  --white-5: #FFFFFF15;
  --primary-12: #04313C;
  --grey-a7: #001A3328;
  --grey-a12: #00080CEE;
  --black-a12: #000000E8;
  --primary-a5: #01A4BA3B;
  --success-6: #B4DFC4;
  --white-2: #FFFFFF03;
  --primary-a3: #02C0D518;
  --white-8: #FFFFFF3F;
  --primary-9: #05A2C2;
  --grey-a4: #021C3713;
  --black-2: #00000006;
  --grey-a9: #00111E77;
  --white-11: #FFFFFF96;
  --primary-a2: #00C6D80D;
  --primary-a11: #00718DF3;
  --grey-a5: #02173519;
  --white-a3: #FFFFFF08;
  --primary-10: #0894B3;
  --grey-4: #ECEEF0;
  --white-9: #FFFFFF62;
  --primary-8: #3DB9CF;
  --grey-a3: #0025490E;
  --black-3: #0000000B;
  --grey-a8: #011E323E;
  --white-4: #FFFFFF0E;
  --primary-a1: #059BCD05;
  --primary-1: #FAFDFE;
  --grey-8: #C1C8CD;
  --grey-a1: #05448204;
  --primary-6: #AADEE6;
  --success-1: #FBFEFC;
  --white-7: #FFFFFF2C;
  --primary-a6: #019CB455;
  --primary-3: #E7F9FB;
  --grey-a2: #05294D07;
  --success-2: #F2FCF5;
  --white-6: #FFFFFF1F;
  --primary-11: #0C7792;
  --white-10: #FFFFFF71;
  --primary-7: #84CDDA;
  --black-1: #00000003;
  --grey-a10: #00101B81;
  --grey-7: #D7DBDF;
  --grey-3: #F1F3F5;
  --black-5: #00000016;
  --grey-a6: #01213920;

  @media (prefers-color-scheme: dark) {

    /* Dark mode */
    --black-10: #FFFFFF;
    --black-11: #FFFFFF;
    --black-12: #FFFFFF;
    --black-1: #FFFFFF;
    --black-2: #FFFFFF;
    --black-3: #FFFFFF;
    --black-4: #FFFFFF;
    --black-5: #FFFFFF;
    --black-6: #FFFFFF;
    --black-7: #FFFFFF;
    --black-8: #FFFFFF;
    --black-9: #FFFFFF;
    --black-a10: #00000079;
    --black-a11: #00000090;
    --black-a12: #000000E8;
    --black-a1: #00000003;
    --black-a2: #00000006;
    --black-a3: #0000000B;
    --black-a4: #00000012;
    --black-a5: #00000016;
    --black-a6: #0000001D;
    --black-a7: #00000023;
    --black-a8: #00000038;
    --black-a9: #0000006F;
    --error-10: #EC5E41;
    --error-11: #F16A50;
    --error-12: #FEEFEC;
    --error-1: #1D1412;
    --error-2: #2A1410;
    --error-3: #3B1813;
    --error-4: #481A14;
    --error-5: #541C15;
    --error-6: #652016;
    --error-7: #7F2315;
    --error-8: #A42A12;
    --error-9: #E54D2E;
    --error-a10: #FF6445E9;
    --error-a11: #FF7054EF;
    --error-a12: #FFF3F0F9;
    --error-a1: #00000000;
    --error-a2: #FD15000E;
    --error-a3: #FF301921;
    --error-a4: #FE331C30;
    --error-a5: #FE351E3E;
    --error-a6: #FF391E51;
    --error-a7: #FF37196E;
    --error-a8: #FF3A1298;
    --error-a9: #FF5431E1;
    --grey-10: #787F85;
    --grey-11: #9BA1A6;
    --grey-12: #ECEDEE;
    --grey-1: #151718;
    --grey-2: #1A1D1E;
    --grey-3: #202425;
    --grey-4: #26292B;
    --grey-5: #2B2F31;
    --grey-6: #313538;
    --grey-7: #3A3F42;
    --grey-8: #4C5155;
    --grey-9: #697177;
    --grey-a10: #E7F3FF78;
    --grey-a11: #EFF7FF9C;
    --grey-a12: #FDFEFFEC;
    --grey-a1: #00000000;
    --grey-a2: #D5FEFF06;
    --grey-a3: #D6FBFC0E;
    --grey-a4: #E1EFFC15;
    --grey-a5: #DFF3FD1B;
    --grey-a6: #DFEFFE23;
    --grey-a7: #E0F3FF2E;
    --grey-a8: #E5F2FE43;
    --grey-a9: #E1F1FF69;
    --info-10: #10B3A3;
    --info-11: #0AC5B3;
    --info-12: #E1FAF4;
    --info-1: #091915;
    --info-2: #04201B;
    --info-3: #062923;
    --info-4: #07312B;
    --info-5: #083932;
    --info-6: #09443C;
    --info-7: #0B544A;
    --info-8: #0C6D62;
    --info-9: #12A594;
    --info-a10: #13FFE7AA;
    --info-a11: #0AFFE7BE;
    --info-a12: #E6FFF9F9;
    --info-a1: #00000000;
    --info-a2: #00FBD507;
    --info-a3: #00FDDC11;
    --info-a4: #00FDE81A;
    --info-a5: #02FEE423;
    --info-a6: #09FFE62F;
    --info-a7: #11FFE341;
    --info-a8: #11FFE75D;
    --info-a9: #18FFE49B;
    --primary-10: #00B1CC;
    --primary-11: #00C2D7;
    --primary-12: #E1F8FA;
    --primary-1: #07191D;
    --primary-2: #061E24;
    --primary-3: #072830;
    --primary-4: #07303B;
    --primary-5: #073844;
    --primary-6: #064150;
    --primary-7: #045063;
    --primary-8: #00647D;
    --primary-9: #05A2C2;
    --primary-a10: #00DDFFC5;
    --primary-a11: #00E5FED2;
    --primary-a12: #E6FDFFF9;
    --primary-a1: #00000000;
    --primary-a2: #00BBFF07;
    --primary-a3: #07CBFC15;
    --primary-a4: #07C5FF21;
    --primary-a5: #07CDFE2C;
    --primary-a6: #02C8FF39;
    --primary-a7: #00CCFF4F;
    --primary-a8: #00C8FF6C;
    --primary-a9: #04D5FFBA;
    --success-10: #3CB179;
    --success-11: #4CC38A;
    --success-12: #E5FBEB;
    --success-1: #0D1912;
    --success-2: #0C1F17;
    --success-3: #0F291E;
    --success-4: #113123;
    --success-5: #133929;
    --success-6: #164430;
    --success-7: #1B543A;
    --success-8: #236E4A;
    --success-9: #30A46C;
    --success-a10: #54FFAFA8;
    --success-a11: #62FFB3BC;
    --success-a12: #E9FFEFF9;
    --success-a1: #00000000;
    --success-a2: #00F7CA06;
    --success-a3: #2AFEBE11;
    --success-a4: #33FEB31A;
    --success-a5: #38FEB523;
    --success-a6: #3DFFB12F;
    --success-a7: #43FFAD41;
    --success-a8: #49FFAA5E;
    --success-a9: #47FFA69A;
    --warning-10: #FF802B;
    --warning-11: #FF8B3E;
    --warning-12: #FEEADD;
    --warning-1: #1F1206;
    --warning-2: #2B1400;
    --warning-3: #391A03;
    --warning-4: #441F04;
    --warning-5: #4F2305;
    --warning-6: #5F2A06;
    --warning-7: #763205;
    --warning-8: #943E00;
    --warning-9: #F76808;
    --warning-a10: #FF842CF9;
    --warning-a11: #FF8C3FF9;
    --warning-a12: #FFEEE1F9;
    --warning-a1: #00000000;
    --warning-a2: #FD37000D;
    --warning-a3: #FD54001D;
    --warning-a4: #FE61002A;
    --warning-a5: #FE620136;
    --warning-a6: #FF650648;
    --warning-a7: #FF640363;
    --warning-a8: #FE660085;
    --warning-a9: #FF6B08F6;
    --white-10: #FFFFFF71;
    --white-11: #FFFFFF96;
    --white-12: #FFFFFFEB;
    --white-1: #00000000;
    --white-2: #FFFFFF03;
    --white-3: #FFFFFF08;
    --white-4: #FFFFFF0E;
    --white-5: #FFFFFF15;
    --white-6: #FFFFFF1F;
    --white-7: #FFFFFF2C;
    --white-8: #FFFFFF3F;
    --white-9: #FFFFFF62;
    --white-a10: #FFFFFF71;
    --white-a11: #FFFFFF96;
    --white-a12: #FFFFFFEB;
    --white-a1: #00000000;
    --white-a2: #FFFFFF03;
    --white-a3: #FFFFFF08;
    --white-a4: #FFFFFF0E;
    --white-a5: #FFFFFF15;
    --white-a6: #FFFFFF1F;
    --white-a7: #FFFFFF2C;
    --white-a8: #FFFFFF3F;
    --white-a9: #FFFFFF62;
  }
}