:root {
  --font-ui: Monorale;
  --font-size: 14px;

  --button-font-size: 14px;
  --button-height: 32px;
  --button-h-padding: 8px;
  --button-lift-default-x: 0px;
  --button-lift-default-y: 2px;
  --button-lift-default-blur: 4px;
  --button-lift-default-spread: 2px;

  --button-icon-h-padding: 8px;
  --button-icon-size: 14px;

}

.multi-button-primary {
  --border-color: var(--primary-9);
  --gradient-1: #72C3EE;
  --gradient-2: #5CACEE;
  --button-lift-default-color: rgba(221, 234, 248, 0.08);
  --text-color: var(--white-a12);
}

.multi-button-secondary {
  --border-color: var(--grey-6);
  --gradient-1: #2E3135;
  --gradient-2: #363A3F;
  --button-lift-default-color: rgba(221, 234, 248, 0.08);
  --text-color: var(--grey-12);
}

.multi-button-danger {
  --border-color: var(--warning-10);
  --gradient-1: #D16565;
  --gradient-2: #E76F6F;
  --button-lift-default-color: rgba(255, 113, 113, 0.47);
  --text-color:  var(--white-a12);
}

.multi-button-custom {
  --border-color: var(--info-10);
  --gradient-1: var(--info-10);
  --gradient-2: var(--info-9);
  --button-lift-default-color:  var(--info-a3);
  --text-color:  var(--white-a12);
}

.light-theme {
  /* Light Mode */
  --primary-1: #FAFCFE;
  --primary-2: #F2F8FD;
  --primary-3: #E7F2FB;
  --primary-4: #D8E9F6;
  --primary-5: #C4DDEF;
  --primary-6: #AACDE6;
  --primary-7: #84B6DA;
  --primary-8: #3D92CF;
  --primary-9: #0573C2;
  --primary-10: #086BB3;
  --primary-11: #0C5A92;
  --primary-12: #04243C;
  --primary-a1: #0579CD05;
  --primary-a2: #007ED80D;
  --primary-a3: #027DD518;
  --primary-a4: #0072C427;
  --primary-a5: #016CBA3B;
  --primary-a6: #0169B455;
  --primary-a7: #0067B27B;
  --primary-a8: #0070C0C2;
  --primary-a9: #0070C1F9;
  --primary-a10: #0066B0F7;
  --primary-a11: #00528DF3;
  --primary-a12: #002038F9;
  --grey-1: #FBFCFD;
  --grey-2: #F8F9FA;
  --grey-3: #F1F3F5;
  --grey-4: #ECEEF0;
  --grey-5: #E6E8EB;
  --grey-6: #DFE3E6;
  --grey-7: #D7DBDF;
  --grey-8: #C1C8CD;
  --grey-9: #889096;
  --grey-10: #7E868C;
  --grey-11: #687076;
  --grey-12: #11181C;
  --grey-a1: #05448204;
  --grey-a2: #05294D07;
  --grey-a3: #0025490E;
  --grey-a4: #021C3713;
  --grey-a5: #02173519;
  --grey-a6: #01213920;
  --grey-a7: #001A3328;
  --grey-a8: #011E323E;
  --grey-a9: #00111E77;
  --grey-a10: #00101B81;
  --grey-a11: #000E1897;
  --grey-a12: #00080CEE;
  --success-1: #FBFEFC;
  --success-2: #F2FCF5;
  --success-3: #E9F9EE;
  --success-4: #DDF3E4;
  --success-5: #CCEBD7;
  --success-6: #B4DFC4;
  --success-7: #92CEAC;
  --success-8: #5BB98C;
  --success-9: #30A46C;
  --success-10: #299764;
  --success-11: #18794E;
  --success-12: #153226;
  --success-a1: #05C04304;
  --success-a2: #00C43B0D;
  --success-a3: #02BA3C16;
  --success-a4: #01A63522;
  --success-a5: #009B3633;
  --success-a6: #0193364B;
  --success-a7: #008C3D6D;
  --success-a8: #00934CA4;
  --success-a9: #008F4ACF;
  --success-a10: #008346D6;
  --success-a11: #006B3BE7;
  --success-a12: #002012EA;
  --error-1: #FFFCFC;
  --error-2: #FFF8F7;
  --error-3: #FFF0EE;
  --error-4: #FFE6E2;
  --error-5: #FDD8D3;
  --error-6: #FAC7BE;
  --error-7: #F3B0A2;
  --error-8: #EA9280;
  --error-9: #E54D2E;
  --error-10: #DB4324;
  --error-11: #CA3214;
  --error-12: #341711;
  --error-a1: #FF050503;
  --error-a2: #FF260508;
  --error-a3: #FF1F0111;
  --error-a4: #FF22011D;
  --error-a5: #F41D012C;
  --error-a6: #EC230041;
  --error-a7: #DE25005D;
  --error-a8: #D524017F;
  --error-a9: #DF2500D1;
  --error-a10: #D52400DB;
  --error-a11: #C62100EB;
  --error-a12: #260600EE;
  --warning-1: #FEFCFB;
  --warning-2: #FEF8F4;
  --warning-3: #FFF1E7;
  --warning-4: #FFE8D7;
  --warning-5: #FFDCC3;
  --warning-6: #FFCCA7;
  --warning-7: #FFB381;
  --warning-8: #FA934E;
  --warning-9: #F76808;
  --warning-10: #ED5F00;
  --warning-11: #BD4B00;
  --warning-12: #451E11;
  --warning-a1: #C0430504;
  --warning-a2: #E860050B;
  --warning-a3: #FF6C0318;
  --warning-a4: #FF6E0028;
  --warning-a5: #FF6B013C;
  --warning-a6: #FF6B0158;
  --warning-a7: #FF66017E;
  --warning-a8: #F86300B1;
  --warning-a9: #F76300F7;
  --warning-a10: #ED5B00F9;
  --warning-a11: #BC4800F9;
  --warning-a12: #380E00EE;
  --info-1: #FAFEFD;
  --info-2: #F1FCFA;
  --info-3: #E7F9F5;
  --info-4: #D9F3EE;
  --info-5: #C7EBE5;
  --info-6: #AFDFD7;
  --info-7: #8DCEC3;
  --info-8: #53B9AB;
  --info-9: #12A594;
  --info-10: #0E9888;
  --info-11: #067A6F;
  --info-12: #10302B;
  --info-a1: #05CD9B05;
  --info-a2: #01C8A40E;
  --info-a3: #02C09718;
  --info-a4: #02AF8C26;
  --info-a5: #00A48938;
  --info-a6: #00998050;
  --info-a7: #01927A72;
  --info-a8: #009783AC;
  --info-a9: #009E8CED;
  --info-a10: #009281F1;
  --info-a11: #00776BF9;
  --info-a12: #00221DEF;
  --black-1: #000000;
  --black-a1: #00000000;
  --black-a2: #00000006;
  --black-a3: #0000000B;
  --black-a4: #00000012;
  --black-a5: #00000016;
  --black-a6: #0000001D;
  --black-a7: #00000023;
  --black-a8: #00000038;
  --black-a9: #0000006F;
  --black-a10: #00000079;
  --black-a11: #00000090;
  --black-a12: #000000E8;
  --white-1: #FFFFFF;
  --white-a1: #FFFFFF00;
  --white-a2: #FFFFFF03;
  --white-a3: #FFFFFF08;
  --white-a4: #FFFFFF0E;
  --white-a5: #FFFFFF15;
  --white-a6: #FFFFFF1F;
  --white-a7: #FFFFFF2C;
  --white-a8: #FFFFFF3F;
  --white-a9: #FFFFFF62;
  --white-a10: #FFFFFF71;
  --white-a11: #FFFFFF96;
  --white-a12: #FFFFFFEB;


  --error: var(--error-8);
  --info: var(--primary-7);
  --neutral: var(--grey-9);
  --success: var(--success-8);
  --warning: var(--warning-8);

  --inverse: var(--grey-1);
  --mono: var(--grey-12);
  --dimmed: var(--grey-11);
  --subtle: var(--grey-10);
  --primary: var(--primary-9);
  --danger: var(--error-9);
  --white: var(--white-1);
}

.dark-theme {
  /* Dark mode */
  --primary-1: #07131D;
  --primary-2: #061724;
  --primary-3: #071E30;
  --primary-4: #07253B;
  --primary-5: #072A44;
  --primary-6: #063150;
  --primary-7: #043B63;
  --primary-8: #00487D;
  --primary-9: #0573C2;
  --primary-10: #0077CC;
  --primary-11: #419CDD;
  --primary-12: #E1EFFA;
  --primary-a1: #00000000;
  --primary-a2: #0094FF07;
  --primary-a3: #0795FC15;
  --primary-a4: #0797FF21;
  --primary-a5: #0797FE2C;
  --primary-a6: #0295FF39;
  --primary-a7: #0094FF4F;
  --primary-a8: #0094FF6C;
  --primary-a9: #0496FFBA;
  --primary-a10: #0094FFC5;
  --primary-a11: #0094FED2;
  --primary-a12: #E6F4FFF9;
  --grey-1: #151718;
  --grey-2: #1A1D1E;
  --grey-3: #202425;
  --grey-4: #26292B;
  --grey-5: #2B2F31;
  --grey-6: #313538;
  --grey-7: #3A3F42;
  --grey-8: #4C5155;
  --grey-9: #697177;
  --grey-10: #787F85;
  --grey-11: #9BA1A6;
  --grey-12: #ECEDEE;
  --grey-a1: #00000000;
  --grey-a2: #D5FEFF06;
  --grey-a3: #D6FBFC0E;
  --grey-a4: #E1EFFC15;
  --grey-a5: #DFF3FD1B;
  --grey-a6: #DFEFFE23;
  --grey-a7: #E0F3FF2E;
  --grey-a8: #E5F2FE43;
  --grey-a9: #E1F1FF69;
  --grey-a10: #E7F3FF78;
  --grey-a11: #EFF7FF9C;
  --grey-a12: #FDFEFFEC;
  --success-1: #0D1912;
  --success-2: #0C1F17;
  --success-3: #0F291E;
  --success-4: #113123;
  --success-5: #133929;
  --success-6: #164430;
  --success-7: #1B543A;
  --success-8: #236E4A;
  --success-9: #30A46C;
  --success-10: #3CB179;
  --success-11: #4CC38A;
  --success-12: #E5FBEB;
  --success-a1: #00000000;
  --success-a2: #00F7CA06;
  --success-a3: #2AFEBE11;
  --success-a4: #33FEB31A;
  --success-a5: #38FEB523;
  --success-a6: #3DFFB12F;
  --success-a7: #43FFAD41;
  --success-a8: #49FFAA5E;
  --success-a9: #47FFA69A;
  --success-a10: #54FFAFA8;
  --success-a11: #62FFB3BC;
  --success-a12: #E9FFEFF9;
  --error-1: #1D1412;
  --error-2: #2A1410;
  --error-3: #3B1813;
  --error-4: #481A14;
  --error-5: #541C15;
  --error-6: #652016;
  --error-7: #7F2315;
  --error-8: #A42A12;
  --error-9: #E54D2E;
  --error-10: #EC5E41;
  --error-11: #F16A50;
  --error-12: #FEEFEC;
  --error-a1: #00000000;
  --error-a2: #FD15000E;
  --error-a3: #FF301921;
  --error-a4: #FE331C30;
  --error-a5: #FE351E3E;
  --error-a6: #FF391E51;
  --error-a7: #FF37196E;
  --error-a8: #FF3A1298;
  --error-a9: #FF5431E1;
  --error-a10: #FF6445E9;
  --error-a11: #FF7054EF;
  --error-a12: #FFF3F0F9;
  --warning-1: #1F1206;
  --warning-2: #2B1400;
  --warning-3: #391A03;
  --warning-4: #441F04;
  --warning-5: #4F2305;
  --warning-6: #5F2A06;
  --warning-7: #763205;
  --warning-8: #943E00;
  --warning-9: #F76808;
  --warning-10: #FF802B;
  --warning-11: #FF8B3E;
  --warning-12: #FEEADD;
  --warning-a1: #00000000;
  --warning-a2: #FD37000D;
  --warning-a3: #FD54001D;
  --warning-a4: #FE61002A;
  --warning-a5: #FE620136;
  --warning-a6: #FF650648;
  --warning-a7: #FF640363;
  --warning-a8: #FE660085;
  --warning-a9: #FF6B08F6;
  --warning-a10: #FF842CF9;
  --warning-a11: #FF8C3FF9;
  --warning-a12: #FFEEE1F9;
  --info-1: #091915;
  --info-2: #04201B;
  --info-3: #062923;
  --info-4: #07312B;
  --info-5: #083932;
  --info-6: #09443C;
  --info-7: #0B544A;
  --info-8: #0C6D62;
  --info-9: #12A594;
  --info-10: #10B3A3;
  --info-11: #0AC5B3;
  --info-12: #E1FAF4;
  --info-a1: #00000000;
  --info-a2: #00FBD507;
  --info-a3: #00FDDC11;
  --info-a4: #00FDE81A;
  --info-a5: #02FEE423;
  --info-a6: #09FFE62F;
  --info-a7: #11FFE341;
  --info-a8: #11FFE75D;
  --info-a9: #18FFE49B;
  --info-a10: #13FFE7AA;
  --info-a11: #0AFFE7BE;
  --info-a12: #E6FFF9F9;
  --black-1: #000000;
  --black-a1: #00000000;
  --black-a2: #00000006;
  --black-a3: #0000000B;
  --black-a4: #00000012;
  --black-a5: #00000016;
  --black-a6: #0000001D;
  --black-a7: #00000023;
  --black-a8: #00000038;
  --black-a9: #0000006F;
  --black-a10: #00000079;
  --black-a11: #00000090;
  --black-a12: #000000E8;
  --white-1: #FFFFFF;
  --white-a1: #FFFFFF00;
  --white-a2: #FFFFFF03;
  --white-a3: #FFFFFF08;
  --white-a4: #FFFFFF0E;
  --white-a5: #FFFFFF15;
  --white-a6: #FFFFFF1F;
  --white-a7: #FFFFFF2C;
  --white-a8: #FFFFFF3F;
  --white-a9: #FFFFFF62;
  --white-a10: #FFFFFF71;
  --white-a11: #FFFFFF96;
  --white-a12: #FFFFFFEB;

  --error: var(--error-8);
  --info: var(--primary-7);
  --neutral: var(--grey-9);
  --success: var(--success-8);
  --warning: var(--warning-8);

  --inverse: var(--white-1);
  --mono: var(--grey-12);
  --dimmed: var(--grey-11);
  --subtle: var(--grey-10);
  --primary: var(--primary-9);
  --danger: var(--error-9);
  --white: var(--white-1);
}