.light-colors {
--primary-1: #FAFCFE;
--primary-2: #F2F8FD;
--primary-3: #E7F2FB;
--primary-4: #D8E9F6;
--primary-5: #C4DDEF;
--primary-6: #AACDE6;
--primary-7: #84B6DA;
--primary-8: #3D92CF;
--primary-9: #0573C2;
--primary-10: #086BB3;
--primary-11: #0C5A92;
--primary-12: #04243C;
--primary-a1: #0579CD05;
--primary-a2: #007ED80D;
--primary-a3: #027DD518;
--primary-a4: #0072C427;
--primary-a5: #016CBA3B;
--primary-a6: #0169B455;
--primary-a7: #0067B27B;
--primary-a8: #0070C0C2;
--primary-a9: #0070C1F9;
--primary-a10: #0066B0F7;
--primary-a11: #00528DF3;
--primary-a12: #002038F9;
--grey-1: #FBFCFD;
--grey-2: #F8F9FA;
--grey-3: #F1F3F5;
--grey-4: #ECEEF0;
--grey-5: #E6E8EB;
--grey-6: #DFE3E6;
--grey-7: #D7DBDF;
--grey-8: #C1C8CD;
--grey-9: #889096;
--grey-10: #7E868C;
--grey-11: #687076;
--grey-12: #11181C;
--grey-a1: #05448204;
--grey-a2: #05294D07;
--grey-a3: #0025490E;
--grey-a4: #021C3713;
--grey-a5: #02173519;
--grey-a6: #01213920;
--grey-a7: #001A3328;
--grey-a8: #011E323E;
--grey-a9: #00111E77;
--grey-a10: #00101B81;
--grey-a11: #000E1897;
--grey-a12: #00080CEE;
--success-1: #FBFEFC;
--success-2: #F2FCF5;
--success-3: #E9F9EE;
--success-4: #DDF3E4;
--success-5: #CCEBD7;
--success-6: #B4DFC4;
--success-7: #92CEAC;
--success-8: #5BB98C;
--success-9: #30A46C;
--success-10: #299764;
--success-11: #18794E;
--success-12: #153226;
--success-a1: #05C04304;
--success-a2: #00C43B0D;
--success-a3: #02BA3C16;
--success-a4: #01A63522;
--success-a5: #009B3633;
--success-a6: #0193364B;
--success-a7: #008C3D6D;
--success-a8: #00934CA4;
--success-a9: #008F4ACF;
--success-a10: #008346D6;
--success-a11: #006B3BE7;
--success-a12: #002012EA;
--warning-1: #FFFCFC;
--warning-2: #FFF8F7;
--warning-3: #FFF0EE;
--warning-4: #FFE6E2;
--warning-5: #FDD8D3;
--warning-6: #FAC7BE;
--warning-7: #F3B0A2;
--warning-8: #EA9280;
--warning-9: #E54D2E;
--warning-10: #DB4324;
--warning-11: #CA3214;
--warning-12: #341711;
--warning-a1: #FF050503;
--warning-a2: #FF260508;
--warning-a3: #FF1F0111;
--warning-a4: #FF22011D;
--warning-a5: #F41D012C;
--warning-a6: #EC230041;
--warning-a7: #DE25005D;
--warning-a8: #D524017F;
--warning-a9: #DF2500D1;
--warning-a10: #D52400DB;
--warning-a11: #C62100EB;
--warning-a12: #260600EE;
--caution-1: #FEFCFB;
--caution-2: #FEF8F4;
--caution-3: #FFF1E7;
--caution-4: #FFE8D7;
--caution-5: #FFDCC3;
--caution-6: #FFCCA7;
--caution-7: #FFB381;
--caution-8: #FA934E;
--caution-9: #F76808;
--caution-10: #ED5F00;
--caution-11: #BD4B00;
--caution-12: #451E11;
--caution-a1: #C0430504;
--caution-a2: #E860050B;
--caution-a3: #FF6C0318;
--caution-a4: #FF6E0028;
--caution-a5: #FF6B013C;
--caution-a6: #FF6B0158;
--caution-a7: #FF66017E;
--caution-a8: #F86300B1;
--caution-a9: #F76300F7;
--caution-a10: #ED5B00F9;
--caution-a11: #BC4800F9;
--caution-a12: #380E00EE;
--info-1: #FAFEFD;
--info-2: #F1FCFA;
--info-3: #E7F9F5;
--info-4: #D9F3EE;
--info-5: #C7EBE5;
--info-6: #AFDFD7;
--info-7: #8DCEC3;
--info-8: #53B9AB;
--info-9: #12A594;
--info-10: #0E9888;
--info-11: #067A6F;
--info-12: #10302B;
--info-a1: #05CD9B05;
--info-a2: #01C8A40E;
--info-a3: #02C09718;
--info-a4: #02AF8C26;
--info-a5: #00A48938;
--info-a6: #00998050;
--info-a7: #01927A72;
--info-a8: #009783AC;
--info-a9: #009E8CED;
--info-a10: #009281F1;
--info-a11: #00776BF9;
--info-a12: #00221DEF;
--black-1: #000000;
--black-a1: #00000000;
--black-a2: #00000006;
--black-a3: #0000000B;
--black-a4: #00000012;
--black-a5: #00000016;
--black-a6: #0000001D;
--black-a7: #00000023;
--black-a8: #00000038;
--black-a9: #0000006F;
--black-a10: #00000079;
--black-a11: #00000090;
--black-a12: #000000E8;
--white-1: #FFFFFF;
--white-a1: #FFFFFF00;
--white-a2: #FFFFFF03;
--white-a3: #FFFFFF08;
--white-a4: #FFFFFF0E;
--white-a5: #FFFFFF15;
--white-a6: #FFFFFF1F;
--white-a7: #FFFFFF2C;
--white-a8: #FFFFFF3F;
--white-a9: #FFFFFF62;
--white-a10: #FFFFFF71;
--white-a11: #FFFFFF96;
--white-a12: #FFFFFFEB;
}